#worker * {
    padding: 0;
    margin: 0;
}

#worker .key {
    width: 620px;
    height: 20px;
    display: block;
    border: 0;
    background: #ccd;
}

#worker .view input, #worker button {
    border: 0;
    height: 40px;
}
#worker .view input[type="text"] {
    width: 400px;
    background: #ddd;
    text-align: center;
}
#worker .view button {
    width: 100px;
    background: #aaa;
}
#worker .view button:hover {
    background: #888;
}
#worker .view button.mining {
    background: #090;
}

#worker .textarea {
    width: 100%;
    height: 300px;
}
#worker textarea {
    width: 100%;
    height: 100%;
    font-family: monospace;
    border: 0;
    background: #eee;
}

#worker .view {
    float: left;
    width: 500px;
}
#worker .queue {
    background: #fed;
    display: inline-block;
    width: 120px;
    height: 340px;
    overflow: hidden;
}
#worker .queue span {
    background: #a84;
    color: #fff;
    padding: 6px 0;
    display: block;
    text-align: center;
}
#worker .queue ul {
    list-style-type: none;
}
#worker .queue ul li {
    text-align: center;
    padding: 2px 0;
}
#worker .queue ul li:hover {
    background: #edc;
}

#worker .info {
    clear: both;
    color: #484;
    font-size: 12px;
}

.hidden {
    display: none;
}